<h1>Sessions controller, index action</h1>

<p>Edit this file in <tt>app/views/sessions/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for session in @sessions %>
  <tr>
    <td><%= link_to 'Show', url(:session, session) %></td>
    <td><%= link_to 'Edit', url(:edit_session,  session) %></td>
    <td><%= delete_button :session, session %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_session) %>
