<h1>UserVotes controller, index action</h1>

<p>Edit this file in <tt>app/views/user_votes/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for user_vote in @user_votes %>
  <tr>
    <td><%= link_to 'Show', url(:user_vote, user_vote) %></td>
    <td><%= link_to 'Edit', url(:edit_user_vote,  user_vote) %></td>
    <td><%= delete_button :user_vote, user_vote %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_user_vote) %>
