<h1>UserVotes controller, new action</h1>

<p>Edit this file in <tt>app/views/user_votes/new.html.erb</tt></p>

<%= error_messages_for :user_vote %>

<% form_for(@user_vote, :action => url(:user_votes) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:user_votes) %>
