<h1>Comments controller, new action</h1>

<p>Edit this file in <tt>app/views/comments/new.html.erb</tt></p>

<%= error_messages_for :comment %>

<% form_for(@comment, :action => url(:comments) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:comments) %>
