<h1>Attendees controller, index action</h1>

<p>Edit this file in <tt>app/views/attendees/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for attendee in @attendees %>
  <tr>
    <td><%= link_to 'Show', url(:attendee, attendee) %></td>
    <td><%= link_to 'Edit', url(:edit_attendee,  attendee) %></td>
    <td><%= delete_button :attendee, attendee %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_attendee) %>
