<h1>Events controller, new action</h1>

<p>Edit this file in <tt>app/views/events/new.html.erb</tt></p>

<%= error_messages_for :event %>

<% form_for(@event, :action => url(:events) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:events) %>
