<h1>Tags controller, edit action</h1>

<p>Edit this file in <tt>app/views/tags/edit.html.erb</tt></p>

<%= error_messages_for :tag %>

<% form_for(@tag, :action => url(:tag, @tag)) do %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:tag, @tag) %> |
<%= link_to 'Back', url(:tags) %>
