<h1>SessionTags controller, edit action</h1>

<p>Edit this file in <tt>app/views/session_tags/edit.html.erb</tt></p>

<%= error_messages_for :session_tag %>

<% form_for(@session_tag, :action => url(:session_tag, @session_tag)) do %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:session_tag, @session_tag) %> |
<%= link_to 'Back', url(:session_tags) %>
