<h1>SessionTags controller, new action</h1>

<p>Edit this file in <tt>app/views/session_tags/new.html.erb</tt></p>

<%= error_messages_for :session_tag %>

<% form_for(@session_tag, :action => url(:session_tags) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:session_tags) %>
