<h1>EventSessions controller, edit action</h1>

<p>Edit this file in <tt>app/views/event_sessions/edit.html.erb</tt></p>

<%= error_messages_for :event_session %>

<% form_for(@event_session, :action => url(:event_session, @event_session)) do %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:event_session, @event_session) %> |
<%= link_to 'Back', url(:event_sessions) %>
