<h1>EventSessions controller, new action</h1>

<p>Edit this file in <tt>app/views/event_sessions/new.html.erb</tt></p>

<%= error_messages_for :event_session %>

<% form_for(@event_session, :action => url(:event_sessions) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:event_sessions) %>
