<h1>SessionComments controller, edit action</h1>

<p>Edit this file in <tt>app/views/session_comments/edit.html.erb</tt></p>

<%= error_messages_for :session_comment %>

<% form_for(@session_comment, :action => url(:session_comment, @session_comment)) do %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:session_comment, @session_comment) %> |
<%= link_to 'Back', url(:session_comments) %>
