<h1>SessionComments controller, index action</h1>

<p>Edit this file in <tt>app/views/session_comments/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for session_comment in @session_comments %>
  <tr>
    <td><%= link_to 'Show', url(:session_comment, session_comment) %></td>
    <td><%= link_to 'Edit', url(:edit_session_comment,  session_comment) %></td>
    <td><%= delete_button :session_comment, session_comment %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_session_comment) %>
