<h1>EventTags controller, new action</h1>

<p>Edit this file in <tt>app/views/event_tags/new.html.erb</tt></p>

<%= error_messages_for :event_tag %>

<% form_for(@event_tag, :action => url(:event_tags) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:event_tags) %>
