<h1>EventTags controller, show action</h1>

<p>Edit this file in <tt>app/views/event_tags/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_event_tag,  @event_tag) %> |
<%= link_to 'Back', url(:event_tags) %>
