<h1>Votes controller, edit action</h1>

<p>Edit this file in <tt>app/views/votes/edit.html.erb</tt></p>

<%= error_messages_for :vote %>

<% form_for(@vote, :action => url(:vote, @vote)) do %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:vote, @vote) %> |
<%= link_to 'Back', url(:votes) %>
