<h1>Votes controller, new action</h1>

<p>Edit this file in <tt>app/views/votes/new.html.erb</tt></p>

<%= error_messages_for :vote %>

<% form_for(@vote, :action => url(:votes) ) do |f| %>
  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:votes) %>
