<h1>UserTags controller, index action</h1>

<p>Edit this file in <tt>app/views/user_tags/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for user_tag in @user_tags %>
  <tr>
    <td><%= link_to 'Show', url(:user_tag, user_tag) %></td>
    <td><%= link_to 'Edit', url(:edit_user_tag,  user_tag) %></td>
    <td><%= delete_button :user_tag, user_tag %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_user_tag) %>
