<h1>UserTags controller, show action</h1>

<p>Edit this file in <tt>app/views/user_tags/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_user_tag,  @user_tag) %> |
<%= link_to 'Back', url(:user_tags) %>
